header {
  display: flex;
  background-color: #F3C623;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
}

.header-logo {
  display: flex;
  font-weight: bold;
}

.header-contents > nav > ul {
  display: flex;
  list-style: none;
}

.header-contents > nav > ul > li {
  padding: 0px 15px;
}

.user-name {
  font-weight: bold;
}